@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$main-font: "Montserrat", sans-serif;
$secondary-font: 'Montserrat', cursive;
$fs-lg: 1.8rem;
$fs-md: 1.2rem;
$fs-regular: 1rem;
$col-main: orangered;

@mixin link {
    cursor: pointer;
    text-decoration: none;
    font-family: $main-font;
    transition: color .3s ease-in;
    position: relative;
    user-select: none;
}

@mixin list {
    list-style: none;
    column-gap: 5vw;
    text-transform: uppercase;
    padding: 10px;
}

@mixin card {
    background: rgb(65, 4, 52);
    background: linear-gradient(90deg, rgba(65, 4, 52, 1) 44%, rgba(30, 4, 41, 1) 100%);
    font-family: $main-font;
    color: white;
    border-radius: .5rem;
    width: 80%;
    padding: 1rem 2rem;
    margin-inline: auto;
    word-wrap: break-word;
}

@mixin button($bg-color, $text-color, $border-color) {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: $text-color;
    background-color: $bg-color;
    border: 2px solid $border-color;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: lighten($bg-color, 10%);
    }

    &:active {
        background-color: darken($bg-color, 10%);
    }
}

@mixin slide-in {
    animation-name: slide-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;

    @keyframes slide-in {
        0% {
            transform: scale(0);
            opacity: 0;
        }

        50% {
            transform: scale(1.2);
            opacity: 1;
        }

        70% {
            transform: scale(0.9);
            opacity: 1;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

}



body {
    background-color: purple;
    color: black;
    overflow-x: hidden;
    position: relative;

}

nav {
    transition: scale .5s ease-in-out;

    ul {
        @include list;
        display: flex;
        justify-content: center;

        li {
            @include link;
            color: white;
            transition: scale .5s ease-in-out, margin .5s ease-in-out;

            &:hover {
                color: rgb(255, 145, 0);
            }

            &::before {
                content: '';
                background: rgb(255, 208, 0);
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                transition: width .2s ease-in;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }
}



.link {
    @include link;
}

.about {
    @include card;
    @include slide-in;

    @media screen and (max-width: 970px) {
        grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 20% 1fr;
    padding:2rem 2rem;
    column-gap: 2rem;

    .about__name {
        font-size: $fs-lg;
        letter-spacing: 1px;
    }

    .about__me {
        max-width: 100%;
        word-wrap: break-word;
    }

    #about__me__description {
        line-height: 35px;
        font-size: $fs-regular;
    }

    .about__title {
        font-size: $fs-md;
        text-align: center;
    }
}

.about__skills {
    @include card;
    @include slide-in;
    display: flex;
    position: relative;
    flex-direction: column;

    .about__title {
        text-align: center;
        font-size: $fs-md;
    }

    #github {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        max-width: 150px;
        min-width: 50px;
        width: 10vw;
        cursor: pointer;
    }
}

#skills__list {
    @include list;

    .skill {
        margin: 12px 0px;
        display: flex;
        align-items: center;
        column-gap: 5px;
        width: fit-content;
        @include link;
    }

}

.connector {
    // This is the line that connects the two cards, I could also make this with ::after of the first card and ::before of the first card so when the animation plays
    // - it will be consistent
    background-color: rgb(78, 0, 78);
    width: 4px;
    height: 50px;
    margin-inline: auto;
    animation: 1.8s appear forwards;
}


@keyframes appear {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.center {
    margin-inline: auto;
}


#link-warning {
    background-color: rgb(65, 1, 65);
    width: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    font-family: $main-font;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 10px;
    bottom: 10px;
    gap: 5px;
    // It's the only occurence so I wont use a mixin.
}

.link-choice:nth-of-type(1) {
    @include button(green, white, lime)
}

.link-choice:nth-of-type(2) {
    @include button(crimson, white, rgb(248, 113, 113))
}

.pill {
    background-color: red;
    width: 44px;
    height: 3px;
}

@media screen and (max-width: 970px) {
    html {
        font-size: 14px;
    }

    #link-warning {
        width: 93%;
        margin-inline: auto;
    }
}